:root{
    --base-color: #D3D3D3;
    --text-color: black;
    --nav-text-color: black;
    --guidelines-text-color: black;
    --guidelines-heading-text-color: black;
    --nav-hover-text-color: white;
    --nav-color: #90D5FF;
    --guidelines-box-color: #A0AFB1;
    --switch-text-color: black;
}

.high-contrast-mode{
    --base-color: black;
    --text-color: #fff;
    --nav-text-color: black;
    --guidelines-text-color: black;
    --guidelines-heading-text-color: #fff;
    --nav-hover-text-color: #00008B;
    --nav-color: #EFBF04;
    --guidelines-box-color: #fff;
    --switch-text-color: #fff;
}

body {
    background-color: var(--base-color);
}

html {
    scroll-behavior: smooth;
}

.nav-link{
    color: var(--nav-text-color);
    margin: 30px;
    font-size: 22px;
}

.nav-link:hover{
    color: var(--nav-hover-text-color);
    opacity: 80%;
    text-decoration: none;
}

.navbar-color{
    background-color: var(--nav-color);
}

.navbar-brand{
 font-family: "lorimer-no-2", sans-serif;
 font-size: 30px;
}

.navbar-toggler {
  margin-left: auto;
}

.guidelines-h1-Mobile{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--guidelines-heading-text-color);
}

.guidelines-h1-Desktop{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--guidelines-heading-text-color);
}

.Guidelines-List-Mobile ul li{
    margin: 10px 0;
    text-align: center;
}

.Guidelines-List-Mobile ul li span{
    color: var(--guidelines-text-color);
    text-align: center;
}

.Guidelines-List-Mobile ul{
    font-size: 18px;
    text-align: left;
    list-style: disc outside;
    margin: 0 auto;
    background-color: var(--guidelines-box-color);
    height: 300px;
    min-width: 800px;
    width: 100%;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}



.Guidelines-List-Mobile ul:hover{
transform: scale(1.05);
opacity: 80%;
}

.Guidelines-List-Mobile{
    display: flex;
    justify-content: center;
    text-align: center;
}

.Guidelines-Box-Title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Guidelines-List-Desktop ul{
   font-size: 18px;
    text-align: left;
    list-style: disc outside;
    margin: 0 auto;
    background-color: var(--guidelines-box-color);
    height: 300px;
    min-width: 800px;
    width: 100%;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.Guidelines-List-Desktop ul li{
    margin: 10px 0;
    text-align: center;
}

.Guidelines-List-Desktop ul li span{
    color: var(--guidelines-text-color);
    text-align: center;
}


.Guidelines-List-Desktop{
    display: flex;
    justify-content: center;
    text-align: center;
}

.Guidelines-List-Desktop ul:hover{
transform: scale(1.05);
opacity: 80%;
}

.Guidelines-Wrapper{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 20px; 
padding: 20px 60px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b3b3b;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: green;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
background-color: #EFBF04;
}

input:focus + .slider{
    box-shadow: 0 0 1px #EFBF04;
}

input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}

.switch-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 0px;
}

#switch-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--switch-text-color);
}
/* #contrast-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#contrast-switch svg:last-child{
    display: none;
}

.high-contrast-mode #contrast-switch svg:first-child{
    display:none;
}

.high-contrast-mode #contrast-switch svg:last-child{
    display: block;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */
 
