body {
    background-color: #D3D3D3;
}

html {
    scroll-behavior: smooth;
}

.nav-link{
    color: black;
    margin: 30px;
    font-size: 22px;
}

.nav-link:hover{
    color: white;
    opacity: 80%;
    text-decoration: none;
}

.navbar-color{
    background-color: #90D5FF;
}

.navbar-brand{
 font-family: "lorimer-no-2", sans-serif;
 font-size: 30px;
}

.navbar-toggler {
  margin-left: auto;
}

.guidelines-h1-Mobile{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.Guidelines-List-Mobile ul li{
    margin: 10px 0;
    text-align: center;
}

.Guidelines-List-Mobile ul li span{
    color:black;
    text-align: center;
}

.Guidelines-List-Mobile ul{
    font-size: 18px;
    text-align: left;
    list-style: disc outside;
    margin: 0 auto;
    background-color: #A0AFB1;
    height: 300px;
    min-width: 800px;
    width: 100%;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}



.Guidelines-List-Mobile ul:hover{
transform: scale(1.05);
opacity: 80%;
}

.Guidelines-List-Mobile{
    display: flex;
    justify-content: center;
    text-align: center;
}

.Guidelines-Box-Title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Guidelines-List-Desktop ul{
   font-size: 18px;
    text-align: left;
    list-style: disc outside;
    margin: 0 auto;
    background-color: #A0AFB1;
    height: 300px;
    min-width: 800px;
    width: 100%;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.Guidelines-List-Desktop ul li{
    margin: 10px 0;
    text-align: center;
}

.Guidelines-List-Desktop ul li span{
    color:black;
    text-align: center;
}


.Guidelines-List-Desktop{
    display: flex;
    justify-content: center;
    text-align: center;
}

.Guidelines-List-Desktop ul:hover{
transform: scale(1.05);
opacity: 80%;
}

.Guidelines-Wrapper{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 20px; 
padding: 20px 60px;
}